.hockblue {
  background-color: getcolor($hockney, hockblue);
}

.hockdarkblue {
  background-color: getcolor($hockney, hockdarkblue);
}

.hockpink {
  background-color: getcolor($hockney, hockpink);
}

.hockolive {
  background-color: getcolor($hockney, hockolive);
}

.hockskyblue {
  background-color: getcolor($hockney, hockskyblue);
}

.hockgreen {
  background-color: getcolor($hockney, hockgreen);
}
