.matblue {
  background-color: matisse(matblue);
}

.matpink {
  background-color: matisse(matpink);
}

.matorange {
  background-color: matisse(matorange);
}

.matdarkorange {
  background-color: matisse(matdarkorange);
}

.matdarkgreen {
  background-color: matisse(matdarkgreen);
}

.matlightgreen {
  background-color: matisse(matlightgreen);
}
