.mirodarkblue {
  background-color: miro(bluedark);
}

.miromedblue {
  background-color: miro(bluemed);
}

.mirolightblue {
  background-color: miro(bluelight);
}

.miroyellow {
  background-color: miro(yellow);
}

.mirodarkyellow {
  background-color: miro(yellowdark);
}

.mirored {
  background-color: miro(red);
}

.mirolightyellow {
  background-color: miro(yellowlight);
}
