.mirodarkblue {
  background-color: miro(bluedark);
}

.miromedblue {
  background-color: miro(bluemed);
}

.mirolightblue {
  background-color: miro(bluelight);
}

.miroyellow {
  background-color: miro(yellow);
}

.mirored {
  background-color: miro(red);
}
