.richblue {
  background-color: richter(richblue);
}

.richyellow {
  background-color: richter(richyellow);
}

.richgray {
  background-color: richter(richgray);
}

.richgreen {
  background-color: richter(richgreen);
}

.richred {
  background-color: richter(richred);
}

.richpurple {
  background-color: richter(richpurple);
}
