$miro: (
  bluedark: rgb(0, 80, 139),
  bluemed: rgb(1, 112, 167),
  bluelight: rgb(68, 163, 195),
  yellow: rgb(223, 202, 135),
  yellowdark: rgb(255, 207, 66),
  yellowlight: rgb(235, 217, 167),
  red: rgb(197, 32, 30),
);

$matisse: (
  matblue: rgb(53, 110, 176),
  matpink: rgb(181, 81, 134),
  matorange: rgb(231, 151, 76),
  matdarkorange: rgb(229, 100, 75),
  matdarkgreen: rgb(0, 111, 86),
  matlightgreen: rgb(132, 176, 92),
);

$richter: (
  richblue: rgb(46, 47, 78),
  richyellow: rgb(254, 190, 84),
  richgray: rgb(214, 202, 190),
  richgreen: rgb(131, 152, 109),
  richred: rgb(231, 58, 51),
  richpurple: rgb(43, 31, 35),
);

$hockney: (
  hockblue: rgb(82, 156, 181),
  hockdarkblue: rgb(34, 101, 172),
  hockpink: rgb(203, 173, 162),
  hockolive: rgb(199, 191, 144),
  hockskyblue: rgb(121, 187, 221),
  hockgreen: rgb(71, 120, 99),
);
