$miro: (
  bluedark: rgb(0, 80, 139),
  bluemed: rgb(1, 112, 167),
  bluelight: rgb(68, 163, 195),
  yellow: rgb(223, 202, 135),
  yellowdark: rgb(255, 207, 66),
  yellowlight: rgb(235, 217, 167),
  red: rgb(197, 32, 30),
);

$matisse: (
  matblue: rgb(53, 110, 176),
  matpink: rgb(181, 81, 134),
  matorange: rgb(231, 151, 76),
  matdarkorange: rgb(229, 100, 75),
  matdarkgreen: rgb(0, 111, 86),
  matlightgreen: rgb(132, 176, 92),
);
