* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: helvetica, arial, sans-serif;
}

body {
  height: 100vh;
}

a {
  color: #44a3c3;
}

main {
  width: 100%;
  max-width: 1000px;
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: center;
}
main h1 {
  margin-bottom: 3rem;
  padding-left: 1rem;
}

.palette {
  height: 100%;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding-bottom: 5rem;
}
.palette h2,
.palette p {
  flex: 1 100%;
  padding: 0 1rem 1rem 1rem;
}
.palette ul {
  z-index: 1000;
}
.palette li {
  list-style: none;
  margin: 1rem 0;
  background-color: #fff;
  padding: 0.5rem;
  opacity: 0.7;
  border: 1px solid #222;
  max-width: 10rem;
}
.palette .color-holder {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 0.5rem;
  width: 100%;
}
.palette .color {
  height: 100%;
  width: 100%;
  min-width: max-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mirodarkblue {
  background-color: #00508b;
}
.mirodarkblue .light {
  background-color: #007cd8;
  height: 100%;
  width: 33%;
}
.mirodarkblue .dark {
  background-color: #00243f;
  height: 100%;
  width: 33%;
}

.miromedblue {
  background-color: #0170a7;
}
.miromedblue .light {
  background-color: #01a3f3;
  height: 100%;
  width: 33%;
}
.miromedblue .dark {
  background-color: #013d5b;
  height: 100%;
  width: 33%;
}

.mirolightblue {
  background-color: #44a3c3;
}
.mirolightblue .light {
  background-color: #7ebfd6;
  height: 100%;
  width: 33%;
}
.mirolightblue .dark {
  background-color: #2d758d;
  height: 100%;
  width: 33%;
}

.miroyellow {
  background-color: #dfca87;
}
.miroyellow .light {
  background-color: #efe5c3;
  height: 100%;
  width: 33%;
}
.miroyellow .dark {
  background-color: #cfaf4b;
  height: 100%;
  width: 33%;
}

.mirodarkyellow {
  background-color: #ffcf42;
}
.mirodarkyellow .light {
  background-color: #ffe28f;
  height: 100%;
  width: 33%;
}
.mirodarkyellow .dark {
  background-color: #f5b600;
  height: 100%;
  width: 33%;
}

.mirored {
  background-color: #c5201e;
}
.mirored .light {
  background-color: #e44e4c;
  height: 100%;
  width: 33%;
}
.mirored .dark {
  background-color: #831514;
  height: 100%;
  width: 33%;
}

.mirolightyellow {
  background-color: #ebd9a7;
}
.mirolightyellow .light {
  background-color: #f9f4e5;
  height: 100%;
  width: 33%;
}
.mirolightyellow .dark {
  background-color: #ddbe69;
  height: 100%;
  width: 33%;
}

.matblue {
  background-color: #356eb0;
}
.matblue .light {
  background-color: #6295d0;
  height: 100%;
  width: 33%;
}
.matblue .dark {
  background-color: #234975;
  height: 100%;
  width: 33%;
}

.matpink {
  background-color: #b55186;
}
.matpink .light {
  background-color: #cc87ab;
  height: 100%;
  width: 33%;
}
.matpink .dark {
  background-color: #82375f;
  height: 100%;
  width: 33%;
}

.matorange {
  background-color: #e7974c;
}
.matorange .light {
  background-color: #f0be8f;
  height: 100%;
  width: 33%;
}
.matorange .dark {
  background-color: #cb701b;
  height: 100%;
  width: 33%;
}

.matdarkorange {
  background-color: #e5644b;
}
.matdarkorange .light {
  background-color: #ef9e8e;
  height: 100%;
  width: 33%;
}
.matdarkorange .dark {
  background-color: #c7381d;
  height: 100%;
  width: 33%;
}

.matdarkgreen {
  background-color: #006f56;
}
.matdarkgreen .light {
  background-color: #00bc91;
  height: 100%;
  width: 33%;
}
.matdarkgreen .dark {
  background-color: #00231b;
  height: 100%;
  width: 33%;
}

.matlightgreen {
  background-color: #84b05c;
}
.matlightgreen .light {
  background-color: #abc990;
  height: 100%;
  width: 33%;
}
.matlightgreen .dark {
  background-color: #5e813f;
  height: 100%;
  width: 33%;
}

.richblue {
  background-color: #2e2f4e;
}

.richyellow {
  background-color: #febe54;
}

.richgray {
  background-color: #d6cabe;
}

.richgreen {
  background-color: #83986d;
}

.richred {
  background-color: #e73a33;
}

.richpurple {
  background-color: #2b1f23;
}

/*# sourceMappingURL=main.css.map */
